<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Dante Spencer {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <a class="navbar-brand mb-0 h1" href="{{ url_for('index') }}">Dante Spencer</a>

      <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}"> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('resume') }}">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
          </li>
          <li class="nav-item dropdown mr-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Random
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('music') }}">Music</a>
              <a class="dropdown-item" href="#">Coming Soon: Blog!</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
          </li>
        </ul>
      </div>
  </nav>
  <body>
    <div style="margin-left: 25px; margin-right: 25px;">
      <br>
      <div class="container">
        <div class="row">
          <div class="col" style="margin-left: -60px">
            <h2>{{ header }}</h2>
          </div>
          <div class="col-lg-4 offset-lg-1" style="margin-right: -185px">
            <p class="text-muted"> Last updated: {{ updated }}</p>
          </div>
        </div>
      </div>
      <hr>
      {% block content %}
      {% endblock %}

      <!-- footer -->
      <!-- <div class="container">
        <hr>
          <div class="text-center center-block">
              <p class="text-muted">© Copyright {{ now.year }} | Dante Spencer </p>
              <p class="text-muted"> Last Updated: {{ updated}} </p>
          </div>
      </div>
    </div> -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
