{% extends "base.html" %}

{% block content %}
{% for collection in collections %}
<div class="row" {% if loop.index0 %}style="padding-top: 50px;"{% endif%}>
  <div class="col">
    <h3> {{ collection.name }} </h3>
  </div>
</div>
<div class="row">
  {% for i in collection.photos %}
  <div class="col-sm-3">
    <a class="link" href={{ url_for('static', filename=collection.prefix + i) }}>
      <img class="img-fluid" height=300 width=300 src={{ url_for('static', filename=collection.prefix + i) }}></img>
    </a>
  </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}
