{% extends "base.html" %}

{% block title %}| Projects{% endblock %}

{% block content %}
  {% for row in projects %}
  <div class="row" style="padding: 30px 0px 0px 0px">
      <!-- row[0] -->
      <div class="col-sm-1">
        <div class="card" style="width: 18rem;">
          <a href={{ row[0].link }}><img class="card-img-top" src="{{ url_for('static', filename=row[0].img)}}" height=160 alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title"> {{ row[0].name }} </h5>
            <p class="card-text"> {{ row[0].description }} </p>
            <a href="{{ row[0].link }}" class="btn-sm btn-primary">Check it out!</a>
          </div>
        </div>
      </div>
      <!-- row[1] -->
      {% if row[1] is defined %}
      <div class="col-sm-1 offset-sm-3">
        <div class="card" style="width: 18rem;">
          <a href={{ row[1].link }}><img class="card-img-top" src="{{ url_for('static', filename=row[1].img)}}" height=160 alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title"> {{ row[1].name }} </h5>
            <p class="card-text"> {{ row[1].description }} </p>
            <a href="{{ row[1].link }}" class="btn-sm btn-primary">Check it out!</a>
          </div>
        </div>
      </div>
      {% endif %}

      {% if row[2] is defined %}
      <!-- row[2] -->
      <div class="col-sm-1 offset-sm-3">
        <div class="card" style="width: 18rem;">
          <a href={{ row[2].link }}><img class="card-img-top" src="{{ url_for('static', filename=row[2].img)}}" height=160 alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title"> {{ row[2].name }} </h5>
            <p class="card-text"> {{ row[2].description }} </p>
            <a href="{{ row[2].link }}" class="btn-sm btn-primary">Check it out!</a>
          </div>
        </div>
      </div>
      {% endif %}
  </div>
  {% endfor %}
{% endblock %}
