{% extends "base.html" %}

{% block title %} | Resume {% endblock%}
{% block content %}
<br>
<div style="margin-left: 5px">
  <h2>Résumé</h2>
  <hr style="margin-left: 5px; margin-right: 5px;">
  <br>
  <h4>Experience</h4>

  {% for job in jobs %}
  <div class="row justify-content-start no-gutters" style="padding: 8px 0px 8px 0px">
    <div class="col-lg-7">
      <p class="font-weight-bold">{{ job.title }} | {% if job.department is defined and job.department %} {{ job.department }} at {% endif %} {{ job.company }}</p>
    </div>
    <div class="col-lg-2 offset-lg-3">
      {{ job.timeline }}
    </div>
  </div>
  <div class="row justify-content-start no-gutters">
    <div class="col-lg-10" style="padding: 0px 10px 10px 10px">
      {% if job.points is not defined or not job.points %}TBA{% else %}
        <ul>
          {% for bullet in job.points %}
            <li> {{ bullet }} </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <h4>Education</h4>
  <div class="row justify-content-start no-gutters">
    <div class="col-lg-7">
      <p class="font-weight-bold"> University of Michigan -- Ann Arbor </p>
    </div>
    <div class="col-lg-1 offset-lg-4">
      2019
    </div>
  </div>
  <div class="row justify-content-start no-gutters" style=" margin-top: -20px">
    <div class="col-lg-7">
      <p> Bachelor of Science Engineering in Computer Science </p>
    </div>
  </div>

  <br>
  <div class="text-center">
    <p><a href="{{ url_for('static', filename="resume.pdf")}}">Looking for a downloadable version?</a></p>
  </div>
</div>
{% endblock %}
